@tailwind base;
@tailwind components;
@tailwind utilities;

.my-gradient {
    background-image: linear-gradient(to right, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  }

  .scissors-gradient {
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  }

  .paper-gradient {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  }
  
  .rock-gradient {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  }
  
  .lizard-gradient {
    background-image: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  }
  
  .cyan {
    background-image: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  }

  @media (max-width: 475px) {
    .media-phone-height {
        height: 75vh;
    }
}